%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookie
    1 cookie with #{@oven.cookie.fillings.length == 0 ? "no fillngs" : @oven.cookie.fillings }
    - if @oven.cookie.ready?(@oven.cookie)
      (Your Cookie is Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
    - else 
      (Your cookie is baking)
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
